# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Serenity GUI

on:
  push:
    branches: [ "main", "update" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set up Chrome
        uses: nanasess/setup-chrome-headless@v1
        
      #      - name: Chrome installation
      #        run: |
      #          sudo apt-get update
      #          sudo apt-get install -y libxss1 libappindicator1 libindicator7 wget
      #          sudo wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      #          sudo dpkg -i google-chrome-stable_current_amd64.deb
      #      - name: Set up ChromeDriver
      #        run: |
      #          sudo apt-get update
      #          sudo apt-get install google-chrome-stable
      #          LATEST=`curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE`
      #          sudo wget https://chromedriver.storage.googleapis.com/$LATEST/chromedriver_linux64.zip
      #          sudo unzip chromedriver_linux64.zip
      #          sudo mv chromedriver /usr/local/bin/
      #          sudo chmod +x /usr/local/bin/chromedriver
      #      - name: Add ChromeDriver to PATH
      #        run: |
      #          echo "sudo export PATH=$PATH:/usr/local/bin/chromedriver" >> $GITHUB_ENV
#      - name: Install Chrome browser
#        run: |
#          sudo apt-get update
#          sudo apt-get install -y libnss3
#          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
#          sudo dpkg -i google-chrome-stable_current_amd64.deb
#          sudo apt-get -f install -y

#      - name: Install ChromeDriver
#        run: |
#          CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d. -f1-3)
#          LATEST=`curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE`
#          wget "https://chromedriver.storage.googleapis.com/${LATEST}/chromedriver_linux64.zip"
#          unzip chromedriver_linux64.zip
#          sudo mv chromedriver /usr/local/bin
#          sudo chown root:root /usr/local/bin/chromedriver
#          sudo chmod a+x /usr/local/bin/chromedriver
#
#      - name: Add ChromeDriver to PATH
#        run: |
#          echo "export PATH=$PATH:/usr/local/bin/chromedriver" >> $GITHUB_ENV

#      - name: Check Chrome browser version
#        run: google-chrome --version

#      - name: Check Chrome driver version
#        run: chromedriver --version

#      - name: List installed packages
#        run: dpkg -l

#      - name: List contents of /usr/local/bin directory
#        run: ls -al /usr/local/bin

      - name: Run Serenity Tests with Maven command
        run: mvn clean verify -P AllTests_Chrome_Head
        continue-on-error: true
      - name: Upload Serenity Report
        uses: actions/upload-artifact@v3
        with:
          name: Serenity Report
          path: target/site/serenity
